EnemyHud {
	font-weight: bold;
	color: #fff;
	font-size: 25px;
	font-family: Poppins;

	> .healthbar {
		width: 100%;
		height: 32px;
		background-color: black;
		padding: 8px;

		> .inner {
			background-color: rgb(41,41,41);
			flex-grow: 1;

			> .fill {
				height: 100%;
				background-color: firebrick;
			}

			> .fill-laggy {
				height: 100%;
				background-color: rgba(190, 150, 57, 0.3);
			}
		}
	}

	.hide {
		display: none;
	}
}
